
<div class="row">
    <div class="col-xs-12 home-block-1">
        <div class="row">
            <div class="col-xs-12">
                <br><br><br><br><br><br>
                <!-- <h1 class="home-title">Loopstir</h1> -->
                <img class="home-logo" src="/images/NameWithLogo2.png" alt="" />
                <br><br><br><br>
                <h3 class="join">Join Our Mailing List</h3>
                <br>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-default">Join!</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="home-what-we-do-wr">
    <p class="home-what-we-do">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the
        leap into electronic typesetting, remaining essentially unchanged.
    </p>
</div>
<br><br><br><br> -->

<div class="row">
    <div class="col-xs-12 home-block-3">
        <div class="row">
            <div class="col-xs-12">
                <div class="home-what-we-do-wr">
                    <br><br><br><br>
                    <p class="home-what-we-do">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries, but also the
                        leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                    <br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 home-block-2">
        <div class="row">
            <br><br>
            <h1 class="team-title">The Team!</h1>
            <br>
        </div>
        <div class="row team-member">
            <div class="col-md-4">
                <h2 class="person-name">Chester Schofield</h2>
                <h2 class="job-title">Chief Technology Officer (CTO)</h2>
                <img class="team-member-img" src="/images/chesterprofilepic.jpg" alt="" />
                <div class="row bio">
                    <div class="col-xs-12">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a
                            type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="person-name">Jake Pugh</h2>
                <h2 class="job-title">Chief Market Officer (CMO)</h2>
                <img class="team-member-img" src="/images/jakep.jpg" alt="" />
                <div class="row bio">
                    <div class="col-xs-12">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a
                            type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="person-name">Patrick Christy</h2>
                <h2 class="job-title">Chief Quality Officer (CQO)</h2>
                <img class="team-member-img" src="/images/patrick.jpg" alt="" />
                <div class="row bio">
                    <div class="col-xs-12">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a
                            type specimen book.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>

</div>
