<!-- old @ 184.168.221.47 -->

<div class="row contact-row">
    <a name="contact"></a>
    <<div class="col-xs-12">
        <h1 class="contact-title">Loopstir</h1>
        <img class="img-responsive logo" src="/images/OwlLogo1.png" alt="" />
        <br><br><br><br>
        <h2 class="contact-join-title">Join Our Mailing List</h2>
        <br>
        <form class="form-inline contact-form">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" ng-model="contact.email">
            </div>
            <button type="submit" class="btn btn-default" ng-click="addContact(contact)">Join!</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <img class="rand-img" src="/images/concert_crowd.jpg" alt="" />
        <h2 class="rand-title">Find Your Next Adventure</h2>
    </div>
</div>

<div class="row about-row">
    <a name="about"></a>
    <div class="col-xs-12">
        <h1 class="about-title">About Us</h1>
        <h3 class="about-para">
            With the Loopstir mobile app you are only one click
            away from diving into any local community.
            <br><br>
            Whether you're a local or just tying find what the locals
            are doing Loopstir will keep you in the loop of new events
            ranging from nightlife, food & drink, to concerts. Our app will
            be your personal tour guide for wherever you’re located
            by recommending events near you and connecting you to
            people with similar interest as yourself.
            <br><br>
            Know of a cool event? Help build the social loop by easily sharing an event
            that you're hosting or an event that you heard about.
        </h3>
        <br><br><br><br>
    </div>
</div>

<div class="row team-row">
    <a name="team"></a>
    <div class="col-xs-12">
            <h1 class="team-title">The Team!</h1>
            <div class="col-md-4 team-member-col">
                <h2 class="team-member-name">Chester Schofield</h2>
                <h5 class="team-member-title">Chief Technology Officer (CTO)</h5>
                <img class="img-circle img-reponsive team-member-img" src="/images/chesterprofilepic.jpg" alt="" />
                <p class="team-member-bio">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book.
                </p>
            </div>
            <div class="col-md-4 team-member-col">
                <h2 class="team-member-name">Jacob Pugh</h2>
                <h5 class="team-member-title">Chief Marketing Officer (CMO)</h5>
                <img class="img-circle img-reponsive team-member-img" src="/images/jakep.jpg" alt="" />
                <p class="team-member-bio">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book.
                </p>
            </div>
            <div class="col-md-4 team-member-col">
                <h2 class="team-member-name">Patrick Christy</h2>
                <h5 class="team-member-title">Chief Quality Officer (CQO)</h5>
                <img class="img-circle img-reponsive team-member-img" src="/images/patrick.jpg" alt="" />
                <p class="team-member-bio">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book.
                </p>
            </div>
        </div>
        <br><br>
    </div>
</div>

<div class="row social-row">
    <a name="social"></a>
    <div class="col-xs-12">
        <h1 class="social-title">Stay Updated!</h1>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <a href="#">
            <img src="/images/twitter.png" class="img-responsive social-icon" alt="" />
            <h6 class="socal-at-title">twitter@loopstir.com</h6>
        </a>
    </div>
    <div class="col-md-2">
        <a href="#">
            <img src="/images/twitter.png" class="img-responsive social-icon" alt="" />
            <h6 class="socal-at-title">twitter@loopstir.com</h6>
        </a>
    </div>
    <div class="col-md-2">
        <a href="#">
            <img src="/images/twitter.png" class="img-responsive social-icon" alt="" />
            <h6 class="socal-at-title">twitter@loopstir.com</h6>
        </a>
    </div>
    <div class="col-md-3"></div>
</div>

<!-- OLD ********************************************************************************** -->
<!-- OLD ********************************************************************************** -->
<!-- OLD ********************************************************************************** -->


<!-- <div class="row">
    <a name="contactv" class="link"></a>
    <div class="col-xs-12 home-block-1">
        <div class="row v-center">
            <div class="col-xs-12">
                <h1 class="loopstir-title">Loopstir</h1>
                <img class="home-logo" src="/images/OwlLogo1.png" alt="" />
                <br><br><br><br>
                <h3 class="join">Join Our Mailing List</h3>
                <br>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" ng-model="contact.email">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="addContact(contact)">Join!</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 background-image">
                <img src="/images/concert_crowd.jpg" alt="" />
                <h1 class="find-title">Find Your Next Adventure</h1>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <a name="about" class="link"></a>
    <div class="col-xs-12 home-block-3">
        <div class="row">
            <div class="col-xs-12">
                <div class="home-what-we-do-wr">
                    <br>
                    <h1 class="about-title">About Us</h1>
                    <br>
                    <p class="home-what-we-do">
                        With the Loopstir mobile app, you are only one click
                        away from diving into any local community. Whether
                        you're a local or just tying find out what the locals
                        are doing Loopstir will allow you to discover new events
                        ranging from nightlife, food & drink, to concerts. Our app will
                        be your personal tour guide for wherever you’re located
                        by recommending events near you and connecting you to
                        people with similar interest.
                    </p>
                    <br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <a name="team" class="link"></a>
    <div class="col-xs-12 home-block-2">
        <div class="row">
            <h1 class="team-title">The Team!</h1>
        </div>
        <div class="row team-member">
            <div class="col-md-4">
                <h2 class="person-name">Chester Schofield</h2>
                <h2 class="job-title">Chief Technology Officer (CTO)</h2>
                <img class="team-member-img" src="/images/chesterprofilepic.jpg" alt="" />
                <div class="row bio">
                    <div class="col-xs-12">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a
                            type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="person-name">Jake Pugh</h2>
                <h2 class="job-title">Chief Market Officer (CMO)</h2>
                <img class="team-member-img" src="/images/jakep.jpg" alt="" />
                <div class="row bio">
                    <div class="col-xs-12">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a
                            type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="person-name">Patrick Christy</h2>
                <h2 class="job-title">Chief Quality Officer (CQO)</h2>
                <img class="team-member-img" src="/images/patrick.jpg" alt="" />
                <div class="row bio">
                    <div class="col-xs-12">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a
                            type specimen book.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>

</div> -->
