html {
   font-family: 'Helvetica', cursive;
   height: 100vh;
   background: url('../images/AdobeStock_city2_1500.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

body {
    background-color: rgba(0, 0, 0, 0);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.support-body {
    padding: 50px 0px;
}

.btn-send-message {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.message-input {
    margin-top: 20px;
    font-size: 30px;
    color: white;
}

.email-result {
    color: white;
    font-size: 20px;
    text-align: center;
}

.block-2 {
    padding: 100px 0px;
}

.loopstir-title {
    text-align: center;
    font-size: 100px;
    color: white;
    /*color: rgba(255, 255, 255, 0.65);*/
    font-family: 'Gochi Hand', cursive;
    padding: 30px 0px;
}

.divider-row {
    background-color: rgba(255, 255, 255, 0.65);
    margin: 50px -20px;
}

.divider-title {
    text-align: center;
    color: rgba(80, 116, 130, 1);
    font-size: 40px;
    padding: 10px 0px;
}

.app-store-image {
    max-width: 300px;
    display: block;
    margin: auto;
}

.app-store-title, .contact-line {
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 25px 0px;
}

.app-store-row {
    padding: 30px 0px;
}

.contact-title {
    padding: 30px 0px;
    font-size: 40px;
    text-align: center;
    color: rgba(80, 116, 130, 1);
}

.contact-insta-img {
    max-width: 300px;
    padding: 30px 0px;
    display: block;
    margin: auto;
}


@media (max-width: 500px) {
    .divider-row {
        margin: 20px -20px;
    }

    .loopstir-title {
        font-size: 60px;
    }

    .divider-title {
        font-size: 25px;
        padding: 5px 0px;
    }

    .app-store-title, .contact-line {
        font-size: 25px;
    }

    .app-store-image {
        max-width: 200px;
    }
}
