.home-block-1 {
    /*background-image: url("/images/chicagogreat2.jpg");*/
    background-color: white;
    text-align: center;
    min-height: 100vh;
}

/*.home-block-4 {
    background-image: url("/images/concert_crowd.jpg");
    background-size: 100%;
}*/

.background-image {
    position: relative;
    /*z-index: 1*/
}

.find-title {
    position: absolute;
    top: 50%;
    /*left: 0;*/
    /*z-index: 2;*/
    /*display: inline-block;*/
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-size: 85px;
    font-family: 'Gochi Hand', cursive;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 30px;
}

.v-center {
    text-align: center;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
}

.home-block-3 {
    /*background-image: url("/images/chicagogreat2.jpg");*/
    background-color: white;
    text-align: center;
}

.find-title {
    display: inline-block;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-size: 85px;
    font-family: 'Gochi Hand', cursive;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 30px;
}

.home-title {
    text-align: center;
    font-size: 70px;
}

.home-logo {
    display: block;
    margin: auto;
    width: 200px;
}

.home-what-we-do {
    padding: 15px;
    width: 95%;
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 30px;
    opacity: 1;
    color: gray;
}

.home-what-we-do-wr {
    width: 70%;
    display: block;
    margin: auto;
    background-color: white;
    opacity: 1.0;
}

.team-button {
    display: block;
    margin: auto;
}

.home-block-2 {
    /* Teal Blue */
    /*background-color: rgba(80, 116, 130, 1);*/
    background: linear-gradient(135deg, rgba(80, 116, 130, 0.40), rgba(80, 116, 130, 0.7));
}

.team-title {
    text-align: center;
    font-size: 85px;
    color: white;
    font-family: 'Gochi Hand', cursive;
}

.about-title {
    text-align: center;
    font-size: 85px;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Gochi Hand', cursive;
}

.loopstir-title {
    text-align: center;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Gochi Hand', cursive;
}

.job-title {
    color: rgba(230, 230, 230, 1);
    font-size: 15px;
}

.person-name {
    text-align: center;
    font-size: 25px;
    /*color: rgba(255, 194, 168, 1);*/
    color: white;
}

.team-member {
    text-align: center;
}

.team-image {
    background-image: url("/images/team.jpeg");
    width: 70vw;
}

.team-member-img {
    width: 300px;
    height: 300px;
}

.join {
    color: rgba(80, 116, 130, 1);
    font-size: 40px;
}

.bio {
    padding: 15px;
    background-color: white;
    color: black;
    display: block;
    margin: auto;
    width: 300px;
    font-size: 17px;
}

.link {
    position: relative;
    top: -50px;
    display: block;
}



/* SHARED ------------------------------------------------------------------- */

 .v-center {
     text-align: center;
     position: relative;
     top: 50vh;
     transform: translateY(-60%);
 }

/* BODY --------------------------------------------------------------------- */

body {
    /*min-width: 800px;*/
}


/* CONTACT ROW -------------------------------------------------------------- */

.contact-row {
    background-color: white;
    min-height: 100vh;
    position: relative;
    top: 40px;
    padding-bottom: 10vh;
}

.contact-title {
    text-align: center;
    font-size: 75px;
    color: rgba(0, 0, 0, 0.75); /* gray */
    font-family: 'Gochi Hand', cursive;
}

.contact-join-title {
    text-align: center;
    color: rgba(80, 116, 130, 1); /* teal blue */
}

.logo {
    text-align: center;
    display: block;
    margin: auto;
    max-height: 25vh;
    max-width: 25vw;
}

.contact-form {
    text-align: center;
}

.contact-join-btn {
    color: rgba(80, 116, 130, 1);
    border-color: rgba(80, 116, 130, 1);
}

/* ABOUT ROW ---------------------------------------------------------------- */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100vh;
  /*margin-bottom: 60px;*/
}

.about-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    background-repeat: no-repeat;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100vh;
  background-color: black;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
}

.about-row {
    background-color: black;
}

.about-para {
    font-size: 20px;
}

.about-caption {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

.about-title {
    color: white;
}

/* RAND ROW ----------------------------------------------------------------- */

.rand-title {
    position: absolute;

    top: 40%;
    transform: translateY(-50%);

    left: 50%;
    transform: translateX(-50%);

    /*font-size: 6em;*/
    font-size: 10vh;
    text-align: center;

    color: rgba(0, 0, 0, 0.75);
    font-family: 'Gochi Hand', cursive;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.rand-img {
    width: 100vw;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    text-align: center;
    max-height: 90vh;
}

/* TEAM ROW ----------------------------------------------------------------- */

.team-row {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95));
}

.team-title {
    padding-top: 50px;
    text-align: center;
    font-size: 60px;
    color: rgba(80, 116, 130, 1);
    font-family: 'Gochi Hand', cursive;
}

.team-member-name {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.team-member-title {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 5vh;
}

.team-member-img {
    display: block;
    margin: auto;
}

.team-member-bio {
    margin: 3vw 3vw 3vw 3vw;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 75px;
}

/* SOCIAL ROW --------------------------------------------------------------- */

.social-row {
    padding-bottom: 100px;
    background-color: white;
    /*background: linear-gradient(135deg, white, rgba(0, 0, 0, 0.15));*/
    /*background: linear-gradient(135deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));*/
}

.social-title {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 60px;
    color: rgba(80, 116, 130, 1);
    font-family: 'Gochi Hand', cursive;
}

.social-icon {
    padding: 30px 30px 10px 30px ;
    display: block;
    margin: auto;
}

.socal-at-title {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
