
/* SHARED ------------------------------------------------------------------- */

 .v-center {
     text-align: center;
     position: relative;
     top: 50vh;
     transform: translateY(-60%);
 }

/* BODY --------------------------------------------------------------------- */

body {
    /*min-width: 800px;*/
}


/* CONTACT ROW -------------------------------------------------------------- */

.contact-row {
    background-color: white;
    min-height: 100vh;
    position: relative;
    top: 40px;
    padding-bottom: 10vh;
}

.contact-title {
    text-align: center;
    font-size: 75px;
    color: rgba(0, 0, 0, 0.75); /* gray */
    font-family: 'Gochi Hand', cursive;
}

.contact-join-title {
    text-align: center;
    color: rgba(80, 116, 130, 1); /* teal blue */
}

.logo {
    text-align: center;
    display: block;
    margin: auto;
    max-height: 25vh;
    max-width: 25vw;
}

.contact-form {
    text-align: center;
}

.contact-join-btn {
    color: rgba(80, 116, 130, 1);
    border-color: rgba(80, 116, 130, 1);
}

/* ABOUT ROW ---------------------------------------------------------------- */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100vh;
  /*margin-bottom: 60px;*/
}

.about-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    background-repeat: no-repeat;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100vh;
  background-color: black;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
}

.about-row {
    background-color: black;
}

.about-para {
    font-size: 20px;
}

.about-caption {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

.about-title {
    color: white;
}

/* RAND ROW ----------------------------------------------------------------- */

.rand-title {
    position: absolute;

    top: 40%;
    transform: translateY(-50%);

    left: 50%;
    transform: translateX(-50%);

    /*font-size: 6em;*/
    font-size: 10vh;
    text-align: center;

    color: rgba(0, 0, 0, 0.75);
    font-family: 'Gochi Hand', cursive;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.rand-img {
    width: 100vw;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    text-align: center;
    max-height: 90vh;
}

/* TEAM ROW ----------------------------------------------------------------- */

.team-row {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95));
}

.team-title {
    padding-top: 50px;
    text-align: center;
    font-size: 60px;
    color: rgba(80, 116, 130, 1);
    font-family: 'Gochi Hand', cursive;
}

.team-member-name {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.team-member-title {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 5vh;
}

.team-member-img {
    display: block;
    margin: auto;
}

.team-member-bio {
    margin: 3vw 3vw 3vw 3vw;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 75px;
}

/* SOCIAL ROW --------------------------------------------------------------- */

.social-row {
    padding-bottom: 100px;
    background-color: white;
    /*background: linear-gradient(135deg, white, rgba(0, 0, 0, 0.15));*/
    /*background: linear-gradient(135deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));*/
}

.social-title {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 60px;
    color: rgba(80, 116, 130, 1);
    font-family: 'Gochi Hand', cursive;
}

.social-icon {
    padding: 30px 30px 10px 30px ;
    display: block;
    margin: auto;
}

.socal-at-title {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
